<div class="div-radio">
    <div class="radio">
        <h5>
            29PL
        </h5>
    </div>
    </div>
    <div>

    <a href="/news"><button> 
        <div class="botonStyle">
        <i class="pi pi-fw pi-megaphone"></i>
        <p> News </p> 
        </div>
    </button></a>
    <div>
    <a href="/activity">
        <button> 
            <div class="botonStyle">
            <i class="pi pi-fw pi-book"></i>
            <p> Activity </p> 
            </div>
        </button>
    </a>
    </div>
    <div>
    <a href="/calendar">
        <button> 
            <div class="botonStyle">
            <i class="pi pi-fw pi-calendar"></i>
            <p> Calendar </p> 
            </div>
        </button>
    </a>
    </div>
    <div>
    <a href="/premis">
        <button> 
            <div class="botonStyle">
            <i class="pi pi-fw pi-verified"></i>
            <p> Rewards </p> 
            </div>
        </button>
    </a>
    </div>
    </div>