<div class="login-body">
    <div class="login-panel p-fluid register-body">
        <div class="grid grid-nogutter">
            <div class="col-12 login-header">
                <h1>ACTIVYTRIP</h1>
                <h2>Register</h2>
                <img src="assets/img/logo.png" style="width: 55px;">
            </div>
            <div class="col-12">
                <label>Photo</label><br>
                <img src="assets/img/fotoafegirfoto.png" width="150px">
                <p-fileUpload class="file1" mode="basic" chooseLabel="Choose" name="demo[]"  accept="image/*"></p-fileUpload>
              </div>
            <div class="col-12">
                <label for="username">Username</label>
                <input pInputText id="username" type="text"/>
            </div>
            <div class="col-12">
                <label for="email">Email</label>
                <p-password id="email" [toggleMask]="true"></p-password>
            </div>
            <div class="col-12">
                <label for="password">Password</label>
                <p-password id="password" [toggleMask]="true"></p-password>
            </div>
            <div class="col-12">
                <label for="confi_password">Confirm Password</label>
                <p-password id="confi_password" [toggleMask]="true"></p-password>
            </div>
            <div class="col-12">
                <label for="phone">Phone Number</label>
                <input pInputText id="phone" type="text"/>
            </div>
            <div class="col-12">
                <label for="born">Born in</label>
                <p-calendar dateFormat="dd.mm.yy"></p-calendar>
            </div>
            <div class="col-12 button-container">
                <a href="/"><button pButton type="button" label="Register" icon="pi pi-unlock"></button></a>
            </div>
        </div>
    </div>
</div>

