<div>
    <h1>
    {{activitats[0].titol}}
    </h1>
</div>
<h3> Description </h3>
<div class="desc-act1">
    {{activitats[0].descripcio}}
</div>
<div class="img-act1">
    <img src="{{activitats[0].img}}"/>
</div>
<h3> Date </h3>
<div class="data-act1">
    {{activitats[0].data}}
</div>
<div class="bandera">
    <!-- <h3>Lenguage</h3> -->
    <img src="assets/img/flag/banderaAlemana.jpg" width="20px"/>
</div>
<h3> Hour </h3>
<div class="hour-act1">
    <p> 8:30PM </p>
</div>
<h3> Duration </h3>
<div class="dur-act1">
    <p>1 hour & 15 minutes</p>
</div>
<div class="map-act1">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5973.354392340298!2d2.446366613488096!3d41.53293249049528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4b52c00a0b2df%3A0x92e06523b1e06473!2sPlaya%20del%20Callao!5e0!3m2!1ses!2ses!4v1708220086562!5m2!1ses!2ses" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>